{% extends 'core/base.html' %}

{% block title %}
  Descubre el Brillo de la Joyería Dorada
{% endblock title %}

{% block content %}
<style>
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url('https://images.pexels.com/photos/247295/pexels-photo-247295.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: center;
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }

  .carousel-caption h5,
  .carousel-caption p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
  }

  h1.display-4 {
      color: rgb(8, 0, 0);
      text-shadow: 2px 2px 4px #000000;
  }
</style>
<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="https://images.pexels.com/photos/1457983/pexels-photo-1457983.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="Collar Dorado">
    <div class="carousel-caption d-none d-md-block">
      <h5>Collar Dorado</h5>
      <p>Elegancia y distinción en cada detalle.</p>
    </div>
  </div>
  <div class="carousel-item">
    <img src="https://images.pexels.com/photos/1191531/pexels-photo-1191531.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="Anillos de Oro">
    <div class="carousel-caption d-none d-md-block">
      <h5>Anillos de Oro</h5>
      <p>Brillo eterno para momentos inolvidables.</p>
    </div>
  </div>
  <div class="carousel-item">
    <img src="https://images.pexels.com/photos/1409903/pexels-photo-1409903.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="Pulsera Dorada">
    <div class="carousel-caption d-none d-md-block">
      <h5>Pulsera Dorada</h5>
      <p>Un toque de lujo para tu estilo.</p>
    </div>
  </div>
</div>
{% endblock content %}